<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<!-- <app-search></app-search> -->
<div class="container d-flex justify-content-center table-box">
    <div class="main"> 
        <div class="home">
            <app-search></app-search>
        </div> 
        <div class="middle">
            <div class="people">
                <div class="peoples">
                    <a [routerLink]="['/newcard']"><img src="./assets/img/total_users.png" alt=""></a>
                    <a [routerLink]="['/newcard']"><h6>1000</h6></a>
                    <a [routerLink]="['/newcard']"><h6>Total Profiles</h6></a>
                </div>
                <div class="peoples people-net">
                    <a [routerLink]="['/newcard']"><img src="./assets/img/approved_users.png" alt=""></a>
                    <a [routerLink]="['/newcard']"><h6>1000</h6></a>
                    <a [routerLink]="['/newcard']"><h6>Approved Profiles</h6></a>
                </div>
                <div class="peoples">
                    <a [routerLink]="['/newcard']"><img src="./assets/img/declined_users.png" alt=""></a>
                    <a [routerLink]="['/newcard']"><h6>1000</h6></a>
                    <a [routerLink]="['/newcard']"><h6>Rejected Profiles</h6></a>
                </div>
                <div class="peoples people-net">
                    <a [routerLink]="['/newcard']"><img src="./assets/img/waiting_users.png" alt=""></a>
                    <a [routerLink]="['/newcard']"><h6>1000</h6></a>
                    <a [routerLink]="['/newcard']"><h6>Waiting Profiles</h6></a>
                </div>
            </div>
        </div>
    </div>
</div> 