<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="container d-flex justify-content-center table-box">
  <form action="#" class="form" (click)="OnSubmit()">
    <!-- <h1 class="text-center">Registration Form</h1> -->
    <!-- Progress bar -->
    <div class="progressbar">
      <div class="progress" id="progress"></div>

      <div class="progress-step progress-step-active" data-title="Personal"></div>
      <div class="progress-step progress-step-active" data-title="Education"></div>
      <div class="progress-step progress-step-active" data-title="Project"></div>
      <div class="progress-step" data-title="Skills"></div>
      <div class="progress-step" data-title="Achievements"></div>
    </div>

    <div class="form-step form-step-active">
      <h3>Project Details</h3>

      <div class="input-group">
        <label for="Proname">Project Name</label>
        <input type="text" name="Proname" value={{data.projectname}}  id="Proname" placeholder="Enter Project name"  />
      </div>
      <div class="input-group">
        <label for="Prodes">Project Description</label>
        <textarea name="Prodes" value={{data.projectdescription}} id="Prodes" rows="4" cols="80" placeholder="Enter Project description"></textarea>
      </div>
      <table>
        <tr>
          <!-- <div class="input-group"> -->
          <td>
            <label for="personaldetails">Duration</label>
          </td>
          <!-- </div> -->
        </tr>
      </table>
      <div>
        <label for="personaldetails">StartingMonth</label>
        <input type="text" value={{data.startingMonth}}  id="personaldetails" />
      </div>
      <div>
        <label for="personaldetails">StaringYear</label>
        <input type="text" value={{data.startingYear}}  id="personaldetails" />
      </div>
      <div>
        <label for="personaldetails">EndingMonth</label>
        <input type="text" value={{data.endingMonth}}  id="personaldetails" />
      </div>
      <div class="input-group">
        <label for="personaldetails">EndingYear</label>
        <input type="text" value={{data.endingYear}}  />
      </div>
      <div class="input-group">
        <label for="Role">Role Played</label>
        <input type="text" name="Role" id="Role" value={{data.role}} placeholder="Enter Role played" />
      </div>
      <div class="input-group">
        <label for="Tools">Tools Used</label>
        <input type="text" name="Tools" id="Tools" value={{data.toolsused}} placeholder="Enter Tools used" />
      </div>
      
      <div class="button">
        <a href="#" class="btn btn-next width-50 ml-auto">Add</a>
      </div>
      <br>
      <div class="row">
        <!-- <div class="col">
          <div class="kcard" *ngFor="let item of Projectdetails">
            <div class="card card-body ">
              <p class="card-text">Project Name: {{item.projectName}}<br>Project Description:
                {{item.projectDescription}} <br> From: {{item.projectduration}}
                <br> To:{{item.projectDuration}} <br> Role Played:{{item.role}} <br> Tools Used:
                {{item.tools}}
              </p>
              <h2><a class="fa-solid fa-pen fa-sm"></a><i class="fa-solid fa-trash trash fa-sm"></i></h2>

            </div>

                        <div class="col">
                            <div class="card card-body">
                                <p class="card-text">Project Name : XXX<br>Project Description : YYY <br> From : 25 jan 2006
                                    <br> To : 26 Apr 2006 <br> Role Played : ZZZ <br> Tools Used : WWW
                                </p>
                                <h2><a class="fa-solid fa-pen fa-sm"></a><i class="fa-solid fa-trash fa-sm"></i></h2>

                            </div>
                        </div>


          </div> -->

          <table>
            <tr>
              <div class="row btns-group"></div>
            </tr>
            <td>
              <a routerLink="/educationaldetails" class="btn btn-prev btns-group">Previous</a>
            </td>
            <td>
              <a href="#" class="btn btns-group">Save as Draft</a>
            </td>
            <td>
              <a routerLink="/skilldetails"  class="btn btn-next btns-group">Next</a>
            </td>
          </table>
        <!-- </div> -->
      </div>
    </div>
  </form>
</div>
